@import './primitives/variables';
@import './components/index';

@font-face {
  font-family: 'IBMPlexSans';
  src: url(./assets/fonts/IBMPlexSans-Semibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBMPlexSans';
  src: url(./assets/fonts/IBMPlexSans-Text.otf) format("opentype");
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: IBMPlexSans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
  background: $bg;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
}
