$bg: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(122.01deg, #4CA9DF 0%, #4395C4 100%);

$panel_width: 480px;
$panel_height: 504px;
$panel_bg: #fff;
$panel_shadow: 0px 20px 50px rgba(23, 52, 69, 0.3);
$panel_radius: 8px;

$input_border: 1px solid rgba(0, 0, 0, 0.2);
$input_color: #000;
$input_label_color: rgba(0, 0, 0, 0.3);
$input_active_label_color: rgba(0, 0, 0, 0.5);
$input_active_border: 2px solid rgba(76, 169, 223, 0.6);
$input_err_border: 2px solid rgba(223, 76, 76, 0.6);
$err_color: #DF4C4C;

$btn_bg: #4CA9DF;
$btn_shadow: 0px 2px 10px rgba(0, 161, 255, 0.3);
$btn_radius: 24px;
$btn_width: 200px ;
$btn_color: #fff;

$btn_bg_hover: #57C1FF;
$btn_shadow: 0px 2px 10px rgba(0, 161, 255, 0.5);

$link-color: #4CA9DF;